body {
  background-color: hsl(225, 100%, 94%);
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Red Hat Display",cursive;
}

.main_div {
  width: 370px;
  background-color: #fff;
  /* padding-top: 200px; */
  margin:100px auto;
  border-radius: 15px;
}

.img {
  width: 370px;
  border-radius: 15px 15px 0 0;
}

/* Summary Section */
.summary {
  margin:auto 13%;
  padding: 7% 0;
}
.summary-title {
  font-size: 1.4rem;
  font-weight: 900;
}
.summary-body {
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  padding-top: 6%;
}
/* Pricing Section */
.pricing {
  background-color: hsl(225, 100%, 98%);
  width: 85%;
  height: 80px;
  margin: auto;
  border-radius: 15px;
}
.pricing-col-left {
  margin-top: 5%;
}
.pricing-col-mid {
  margin-right: 35px;
  margin-top: 6%;
}
.pricing-col-right {
  margin-top: 8%;
}
.pricing-title {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 15px;
}
.pricing-body {
  font-size: 16px;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  line-height: 0;
}
.pricing-link {
  font-family: "Red Hat Display";
  font-weight: 700;
}
.pricing-link:hover {
  color: #766cf1;
}
.pricing-img {
  width: 50px;
}

/* Buttons */
.buttons_div {
  width: 85%;
  margin: 25px auto;
  box-shadow: 0 15px 30px -15px hsl(245, 75%, 52%);
}
.payment-button {
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 1rem;
  height: 50px;
  background-color:  hsl(245, 75%, 52%);
  outline-color: hsl(245, 75%, 52%);
}
.payment-button:hover{
  background-color: #766cf1;
  outline-color: #766cf1;
}

/* Cancel */
.cancel-link {
  font-family: "Red Hat Display";
  font-weight: 700;
  color: hsl(224, 23%, 55%);
  margin-top: 40px;
}
a:link {
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #000;
}
a:visited{
  text-decoration: none;
}

.body_div {
  padding-bottom: 40px;
  margin-bottom: 30px;
  box-shadow: 0 10px 40px -15px hsl(224, 23%, 55%);
}
